.top-ranks-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.previous-ranks{
    content: "";
    position: relative;
    box-shadow: 0px -8px 40px 0px #1C1C1E1A;
    top: -23px;
    background: #FFFFFF;
    left: 0;
    width: 104%;
    height: 357px;
    border-radius: 1521px / 143px;
    margin-left: -39px;
}
.previous-ranks div{
    position: relative;
    top: 40px;
}